body{
    background: url(../images/bg2.jpg) no-repeat fixed;
    background-size: cover;
	transition:all 5s;
}
.navbar{
	background-color: rgb(33, 150, 243);
	transition:all 0.5s;
}
.nav-item .nav-link{
	transition: 0.5s;
}
.navbar.transparent{
	background-color: transparent;
}
.navbar:not(.transparent) .nav-item .nav-link{
	padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.navbar:not(.transparent) .nav-item.active .nav-link{
	background-color: white;
    color:rgb(53,44,124);
}
.navbar-right{
	margin-left:auto;
	margin-right: 0px !important;
}
.navbar-brand{
	font-family: 'Gloria Hallelujah', cursive;
}
.portfolio{
	/*background-color:rgba(0, 0, 0, 0.8);*/
	background-color:rgba(28, 28, 27, 0.6);
	margin: 4.56rem 0.625rem 0.625rem 0.625rem;
}
#home{
	padding: 1vw;
}
#home img{
	margin-top:50px;
	width:24vw;
}
#project, #contact{
    background-color: #e3f3ff;
    background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}
#project .row{
	margin-right:0;
	margin-left:0;
}
#project .row div{
	/*margin: 0px 15px 15px 0px;*/
	/*padding: 2%;*/
	padding: 2%;
	/*padding: 0px 15px 15px 0px;*/
}
#project a{
	display: block;
	width:100%;
	height: 100%;
	transition: transform 0.3s ease;
	position: relative;
}
#project a:hover{
	transform: scale(1.1);
}
#project a:hover::after{
    content: attr(data-placeholder);
    position: absolute;
    background-color: #03A9F4;
    bottom: 0px;
    left: 0px;
    width: 100%;
	transition: transform 3s ease;
    line-height: 45px;
    color:white;
}
#project img{
	content: url('../images/placeholder.jpg');
}
#project img.tribute{
	content: url('../images/tribute.png');
}
.portfolio .heading{
	margin-top:15px;
	margin-bottom: 15px;
    background: linear-gradient(to right, #03A9F4, #3F51B5);
    background-color: #2196F3;
    box-shadow: 0px 3px 21px 1px #00335b;
	font-family: 'Cormorant Unicase', serif;
	line-height: 100px;
}
.devicon{
	font-size: 3.5rem;
}
#home .designation {
    font-family: english-small-caps, serif;
	font-size: 3vw;
    line-height: 93px;
}
#home .skillsets{
    margin-top: 5rem;
    text-align: center;
}
#home .skillsets i{
	margin-left: 6px;
}
#home .skillset{
	display: inline-block;
	transition: transform 0.3s ease;
}
#home .skillset:hover{
	transform: scale(1.1);
}
#contact{
	padding: 68px;
    background: linear-gradient(to right, #03A9F4, #3F51B5);
    background-color: #2196F3;
    box-shadow: 0px 3px 21px 1px #00335b;
	font-family: 'Cormorant Unicase', serif;
}
#contact a{
	color:white;
}
.fa{
	font-size:50px !important;
	margin: 16px;
}
.fa:hover{
	transform: scale(1.1);
}
.fa.fa-chevron-circle-up{
	display: none;
    position: fixed;
    right: 5px;
    top: 50%;
    color: #2196F3;
}
.show{
	transition: all 5s;
	display: block !important;
}
@media screen and (max-width:940px){
	#home img{
		width:226px;
	}
	#home .designation{
		font-size: 20px;
	}
	.devicon{
		font-size: 3rem;
	}
}
@media screen and (max-width:500px){
	#home .designation{
		font-size: 20px;
	    line-height: 70px;
	} 
	#home img{
		width:200px;
	}
	.devicon{
		font-size: 2.5rem;
	}
	.fa{
		font-size: 30px !important;
	    margin: 4px;
	}
}

